.image-big {
  width: 250px;
  border: solid 1px #f4f4f4;
  border-radius: 50%;
}

.centrar {
  justify-content: center;
  align-items: center;
}

.mtdef {
  margin-top: 1em;
}

.columna {
  flex-direction: column;
}

.mw55 {
  max-width: 55%;
}

.mtbig {
  margin-top: 5em;
}
